/*---  BoardComponent Css  ---*/
.BoardLine{
    display: flex;
}
/*---  BoardTopBar Css  ---*/
.Bar{
    display: flex;
}
/*---  SquereComponent Css  ---*/
.SquereButton{
    width: 50px;
    height: 50px;
    border: solid 1px #000;
    outline: none;
    background-color: #339933;
    display: inline-block;
    box-sizing: border-box;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pieceNone{
    display: none;
}
.pieceBlack{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: #000;
}
.pieceWhite{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: #fff;
}
.pieceCanPut{
    width: 30%;
    height: 30%;
    background-color: red;
}